name: 'Build and Publish Docker Images'

env:
  # Push main branch only, else just build
  DOCKER_PUSH: ${{ github.ref == 'refs/heads/main' }}

on:
  workflow_dispatch:
  push:
    branches:
    - main
    - develop
    paths-ignore:
      - 'README.md'
  pull_request:
    branches:
      - main
  schedule:
    # https://crontab.guru/
    # Rebuild 2am every Monday, LSIO rebuilds on Friday's
    - cron: '0 2 * * MON'

jobs:
  build:
    name: 'Build and Publish Docker Images'
    runs-on: ubuntu-latest

    steps:

      # https://github.com/actions/checkout
      - name: 'Checkout Code'
        uses: actions/checkout@v2

      # https://github.com/docker/setup-qemu-action
      - name: 'Setup QEMU'
        uses: docker/setup-qemu-action@v1

      # https://github.com/docker/setup-buildx-action
      - name: 'Setup Docker Buildx'
        uses: docker/setup-buildx-action@v1

      # https://github.com/marketplace/actions/docker-login
      - name: 'Login to Docker Hub'
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      # https://github.com/marketplace/actions/build-and-push-docker-images

      # .NET Core 3.1
      - name: 'Build and Push .NET Core 3.1'
        uses: docker/build-push-action@v2
        with:
          platforms: linux/amd64
          push: ${{ env.DOCKER_PUSH }}
          tags: |
            vkhurana/vscode-server-dotnetcore:3.1
          build-args: |
            LABEL_VERSION=3.1
            INSTALL_VERSION=dotnet-sdk-3.1

      # .NET 7.0
      - name: 'Build and Push .NET 7.0'
        uses: docker/build-push-action@v2
        with:
          platforms: linux/amd64
          push: ${{ env.DOCKER_PUSH }}
          tags: |
            vkhurana/vscode-server-dotnetcore:7.0
          build-args: |
            LABEL_VERSION=7.0
            INSTALL_VERSION=dotnet-sdk-7.0

      # .NET Core 3.1 and .NET 7.0
      - name: 'Build and Push .NET Core 3.1 and .NET 7.0'
        uses: docker/build-push-action@v2
        with:
          platforms: linux/amd64
          push: ${{ env.DOCKER_PUSH }}
          tags: |
            vkhurana/vscode-server-dotnetcore:latest
            vkhurana/vscode-server-dotnetcore:7.0.101
          build-args: |
            LABEL_VERSION=31.70
            "INSTALL_VERSION=dotnet-sdk-3.1 dotnet-sdk-7.0"

      # # .NET 6.0 for arm64v8
      # - name: 'Build and Push .NET 6.0 for ARM64'
      #   uses: docker/build-push-action@v2
      #   with:
      #     platforms: linux/arm64
      #     push: ${{ env.DOCKER_PUSH }}
      #     tags: |
      #       vkhurana/vscode-server-dotnetcore:6.0-arm64
      #     build-args: |
      #       LABEL_VERSION=6.0-arm64
      #       INSTALL_VERSION=dotnet-sdk-6.0
